.cabecalho {
    background-color: #407e01;
    height: auto;
    width: 100%;
    max-height: 12ch;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem;
}

.img-cabecalho{
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 80px;

}

.titulo {
    background-color: #d6cbb5;
    width: auto;
    max-width: 45ch;
    border-radius: 20px;
}

.formulario{
    background-color: #d9d9d9;
    width: 100%;
    max-width: 100ch;
    padding: 2rem;
}

.btn-confirmar{
    background-color: #93de98;
    margin-right: 20px;
}

.rodape{
    background-color: #407e01;
    height: auto;
    width: 100%;
    max-height: 16ch;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rodape img{
    height: auto;
    width: auto;
    max-width: 30ch;
    max-height: 30ch;
    padding-top: 5ch;
    padding-bottom: 5ch;

}

.cadastre-se{
    margin-right: 28%;
}

.produto{
    background-color: #407e01;
    margin-bottom: 8ch;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    flex: 1 1 300px;
}

.produtos{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;

}

.img-prod{
    max-height: 270px;
    max-width: 270px;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    object-fit: cover;

}

.card-title, .card-text {
    color: white;
    padding-left: 7%;

}

.btn-comprar{
    background-color: #d6cbb5;
}

.card-home{
    background-color: #d6cbb5;
}
.card-titulo-home, .card-texto-home{
    color: black;
    justify-content: center;
}
.home {
    padding-left: 8%;
}

.home img{
    max-height: 280px;
    max-width: 500px;
    height: 100%;
    width: 100%;
}

.btn-home{
    background-color: #407e01;
    margin-left: 38%;
}

.img-settings{
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
}

.preco-antigo{
    text-decoration-color: red;
}

.preco-alterado{
    font-size: larger;
}

@media (max-width: 680px) {
    .formulario{
        max-width: 100%;
        padding: 0.5rem;
    }
}

@media (max-width: 775px) {
    .produto{
        width: 80%;
        padding-left: 15%;
        padding-right: 15%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10ch;
    }
    .produtos{
        width: 80%;
    }
    .btn-comprar{
        float: right;
    }
}