<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/savvyfix.css">
  <link rel="icon" href="/images/ic_savvyfix.png" type="image/png">

  <title>Adicionar Produto</title>
</head>
<body>

<!-- Adicionar produtos novos no banco -->
<nav class="navbar navbar-expand-lg bg-body-tertiary cabecalho pb-3">
  <img src="/images/ic_savvyfix.png" href="/" class="img-cabecalho mx-auto">
</nav>
<div class="ronded-pill titulo mx-auto mt-5">
  <h1 class="display-5 text-center pb-3 pt-3">Produtos</h1>
</div>

<form class="card-body mx-auto formulario mt-5 mb-5" style="width: 40rem;" th:object="${produto}" action="/produtos/insere_produto" method="post">
  <div class="invalid-feedback" th:each="m : ${msg}">
    <span th:text="${m}" ></span>
  </div>
  <div class="mb-3">
    <label class="form-label font-monospace" for="nome">Nome: </label>
    <input type="text" class="form-control border border-secondary" th:field="*{nome}" id="nome" required>
    <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label font-monospace" for="marca">Marca:</label>
    <input type="text" th:field="*{marca}" th:errorclass="is-invalid" class="form-control border border-secondary" id="marca" required>
    <div class="invalid-feedback" th:errors="*{marca}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label font-monospace" for="descricao">Descrição:</label>
    <input type="text" th:field="*{descricao}" th:errorclass="is-invalid" class="form-control border border-secondary" id="descricao" required>
    <div class="invalid-feedback" th:errors="*{descricao}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label font-monospace" for="preco">Preco:</label>
    <input type="number" class="form-control border border-secondary" th:field="*{precoFixo}" th:errorclass="is-invalid" id="preco" step="0.01" required>
    <div class="invalid-feedback" th:errors="*{precoFixo}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label font-monospace" for="img">Endereco da imagem:</label>
    <input type="text" th:field="*{imgProduto}" class="form-control border border-secondary" id="img" required>
    <div class="invalid-feedback" th:errors="*{imgProduto}"></div>
    <div id="imgHelp" class="form-text">Digite o endereço https de uma imagem</div>
  </div>
  <button type="submit" class="btn btn-confirmar">Cadastrar</button>
  <a href="/produtos" class="btn btn-danger ml-auto float-end">Voltar</a>
</form>

<nav class="rodape">
  <img src="/images/ic_github.png">
  <img src="/images/ic_instagram.png">
  <img src="/images/ic_x.png">
</nav>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>