<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos ::  conteudo-header('Confirmar Compra')}"> </head>
<body>
<nav th:replace="~{fragmentos :: cabecalho(cliente=${cliente})}"></nav>
<div th:replace="~{fragmentos :: idioma}"></div>
<form class="card-body mx-auto formulario mt-5 mb-5" style="width: 40rem;" th:object="${compra}" action="/compras/finalizar_compra" method="post">
    <input type="hidden"  name="produto.id" th:value="${produto.id}" />


    <div class="mb-3">
        <label class="form-label" th:text="#{nome.cliente}">Nome do Cliente:</label>
        <input type="text" th:value="${cliente.nome}" readonly/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="produtoNome" th:text="#{nome.produto}">Nome do Produto:</label>
        <input type="text" class="form-control" id="produtoNome" th:value="${produto.nome}" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label" for="quantidade" th:text="#{quantidade}">Quantidade:</label>
        <input type="number" class="form-control" id="quantidade" name="qntdProd" min="1" required />
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">

    <button type="submit" class="btn btn-confirmar" th:text="#{finalizar.compra}">Finalizar Compra</button>
    <a href="/" class="btn btn-danger ml-auto float-end" th:text="#{voltar}">Voltar</a>
</form>
<nav th:replace="~{fragmentos :: rodape}"></nav>
</body>
</html>