<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/savvyfix.css">
    <link rel="icon" href="/images/ic_savvyfix.png" type="image/png">

    <title>Confirmar Compra</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary cabecalho pb-3">
    <a href="/"><img src="/images/ic_savvyfix.png" class="img-cabecalho"></a>
</nav>
<form class="card-body mx-auto formulario mt-5" style="width: 40rem;" th:object="${compra}" action="/compras/finalizar_compra" method="post">
    <input type="hidden"  name="produto.id" th:value="${produto.id}" />


    <div class="mb-3">
        <label class="form-label">Nome do Cliente:</label>
        <input type="text" th:value="${clienteLogado.nome}" readonly/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="produtoNome">Nome do Produto:</label>
        <input type="text" class="form-control" id="produtoNome" th:value="${produto.nome}" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label" for="quantidade">Quantidade:</label>
        <input type="number" class="form-control" id="quantidade" name="qntdProd" min="1" required />
    </div>

    <button type="submit" class="btn btn-confirmar">Finalizar Compra</button>
    <a href="/" class="btn btn-danger ml-auto float-end">Voltar</a>
</form>
<nav class="rodape" style="position: fixed; bottom: 0;">
    <img src="/images/ic_github.png">
    <img src="/images/ic_instagram.png">
    <img src="/images/ic_x.png">
</nav>
</body>
</html>