<head th:fragment="conteudo-header(titulo)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/savvyfix.css">
  <link rel="icon" href="/images/ic_savvyfix.png" type="image/png">


  <title th:text="${titulo}">AQUI</title>
</head>

<nav th:fragment="cabecalho(cliente)" class="navbar navbar-expand-lg bg-body-tertiary cabecalho pb-3">
  <h5 class="text-white fs-5 mt-2">Olá, <span><a class="text-white fs-5 mt-2" th:href="@{compras/historico_compras/{id}(id = ${cliente.id}) }" th:text="${cliente.nome}"></a></span>!</h5>
  <a href="/"><img src="/images/ic_savvyfix.png" class="img-cabecalho"></a>
  <form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-comprar float-end m-4" style="float: right" th:text="#{sair}">Sair</button>
  </form>
</nav>

<nav th:fragment="cabecalho-login" class="navbar navbar-expand-lg bg-body-tertiary cabecalho pb-3">
  <a href="/"><img src="/images/ic_savvyfix.png" class="img-cabecalho"></a>
</nav>

<div th:fragment="idioma" class="m-2">
  <a href="/?lang=pt"><img src="/images/ic_brasil.png"></a>
  <a href="/?lang=en"><img src="/images/ic_eua.png"></a>
</div>

<nav th:fragment="rodape" class="rodape">
  <a href="https://github.com/LuizFFarias/challenge-JavaMVC-savvyfix.git"><img src="/images/ic_github.png"></a>
  <a href="https://www.instagram.com"><img src="/images/ic_instagram.png"></a>
  <a href="https://bsky.app"><img src="/images/ic_bluesky.png"></a>
</nav>