<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos ::  conteudo-header('SavvyFix')}"> </head>
<body>
<nav th:replace="~{fragmentos :: cabecalho(cliente=${cliente})}"></nav>
<div th:replace="~{fragmentos :: idioma}"></div>
<div class="container home mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-2">
      <div class="card" style="max-width: 30rem; background-color: #d6cbb5">
        <img src="/images/img_produtos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-titulo-home text-center" th:text="#{produtos}">Produtos</h5>
          <p class="card-texto-home text-center" th:text="#{txt.home.produtos}">Venha encontrar o melhor tênis para o seu estilo!</p>
          <a href="/produtos" class="btn text-white btn-home" th:text="#{ver.produtos}">Ver Produtos</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="card" style="max-width: 30rem; background-color: #d6cbb5">
        <img src="/images/img_cadastro.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-titulo-home text-center" th:text="#{cadastre.se}">Cadastre-se!</h5>
          <p class="card-texto-home text-center" th:text="#{txt.home.cadastro}">Realize o cadastro para fazer suas compras.</p>
          <a href="/clientes/cadastro_cliente" class="btn text-white btn-home" th:text="#{cadastrar}">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<nav th:replace="~{fragmentos :: rodape}"></nav>
</body>
</html>