<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/savvyfix.css">
    <link rel="icon" href="/images/ic_savvyfix.png" type="image/png">


    <title>Produtos</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary cabecalho pb-3">
    <a href="/"><img src="/images/ic_savvyfix.png" class="img-cabecalho"></a>
</nav>
<div class="ronded-pill titulo mx-auto mt-5">
    <h1 class="d-flex justify-content-center display-4 pt-3 pb-3" th:text="#{produtos}">Produtos</h1>
</div>

<a href="/produtos/adiciona_produto" class="btn btn-outline-primary" th:text="#{add.produto}">Adicionar um produto</a>

<!-- Busca dos produtos -->
<div class="d-flex justify-content-center">
    <div class="mb-3 produtos">
        <div class="row g-0 produto" th:each="entry : ${produtoAtividadesMap.entrySet()}">
            <div class="col-md-4">
                <img th:src="${entry.key.getImgProduto()}" class="rounded-start pt-3 pb-3 img-prod" alt="...">
            </div>
            <div class="col-md-8">
                <span th:if="${isadmin}">
                    <a th:href="@{/produtos/editar_produto/{id}(id= ${entry.key.getId()})}">
                    <img src="/images/ic_settings.png" class="img-settings float-end m-3">
                </a>
                </span>
                <h5 class="card-title fs-2 mt-2" th:text="${entry.key.getNome()}">Nome do Produto</h5>
                <p class="card-text fs-4" th:text="${entry.key.getDescricao()}">Descrição</p>
                <p class="card-text fs-4">
                    <span class="d-inline">Marca: </span>
                    <span class="d-inline" th:text="${entry.key.getMarca()}"></span>
                </p>

                <!-- Verifica se o produto possui atividades associadas -->
                <div class="card-text fs-5" th:if="${#lists.isEmpty(entry.value)}">
                    <span class="d-inline">R$: <span th:text="${entry.key.getPrecoFixo()}"></span></span>
                </div>
                <div class="card-text fs-5" th:if="${!#lists.isEmpty(entry.value)}">
                    <p>De: R$<s class="preco-antigo" th:text="${entry.key.getPrecoFixo()}"></s></p>
                    <p>Por: R$
                        <span class="preco-alterado" th:each="atividade : ${entry.value}"
                              th:text="${atividade.precoVariado}"></span>
                    </p>
                </div>

                <a th:href="@{/compras/confirmar_compra/{id}(id=${entry.key.getId()})}"
                   class="btn btn-comprar float-end m-4" th:text="#{comprar}">Comprar</a>
            </div>
        </div>


        <nav class="rodape">
            <a href="https://github.com/LuizFFarias/challenge-JavaMVC-savvyfix.git"><img
                    src="/images/ic_github.png"></a>
            <a href="https://www.instagram.com"><img src="/images/ic_instagram.png"></a>
            <a href="https://bsky.app"><img src="/images/ic_bluesky.png"></a>
        </nav>
</body>
</html>