<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos ::  conteudo-header('Produtos')}"> </head>
<body>
<nav th:replace="~{fragmentos :: cabecalho(cliente=${cliente})}"></nav>
<div th:replace="~{fragmentos :: idioma}"></div>
<div class="ronded-pill titulo mx-auto mt-5">
    <h1 class="d-flex justify-content-center display-4 pt-3 pb-3" th:text="#{produtos}">Produtos</h1>
</div>


<span th:if="${isadmin}">
    <a href="/produtos/adiciona_produto" class="btn btn-outline-primary" th:text="#{add.produto}">Adicionar um produto</a>
</span>
<!-- Busca dos produtos -->
<div class="d-flex justify-content-center">
    <div class="mb-3 produtos">
        <div class="row g-0 produto" th:each="entry : ${produtoAtividadesMap.entrySet()}">
            <div class="col-md-4">
                <img th:src="${entry.key.getImgProduto()}" class="rounded-start pt-3 pb-3 img-prod" alt="...">
            </div>
            <div class="col-md-8">
                <span th:if="${isadmin}">
                    <a th:href="@{/produtos/editar_produto/{id}(id= ${entry.key.getId()})}">
                    <img src="/images/ic_settings.png" class="img-settings float-end m-3">
                </a>
                </span>
                <h5 class="card-title fs-2 mt-2" th:text="${entry.key.getNome()}">Nome do Produto</h5>
                <p class="card-text fs-4" th:text="${entry.key.getDescricao()}">Descrição</p>
                <p class="card-text fs-4">
                    <span class="d-inline" th:text="#{marca}">Marca: </span>
                    <span class="d-inline" th:text="${entry.key.getMarca()}"></span>
                </p>

                <!-- Verifica se o produto possui atividades associadas -->
                <div class="card-text fs-5" th:if="${#lists.isEmpty(entry.value)}">
                    <span class="d-inline">R$: <span th:text="${entry.key.getPrecoFixo()}"></span></span>
                </div>
                <div class="card-text fs-5" th:if="${!#lists.isEmpty(entry.value)}">
                    <p>De: R$<s class="preco-antigo" th:text="${entry.key.getPrecoFixo()}"></s></p>
                    <p>Por: R$
                        <span class="preco-alterado" th:each="atividade : ${entry.value}"
                              th:text="${atividade.precoVariado}"></span>
                    </p>
                </div>

                <a th:href="@{/compras/confirmar_compra/{id}(id=${entry.key.getId()})}"
                   class="btn btn-comprar float-end m-4" th:text="#{comprar}">Comprar</a>
            </div>
        </div>

    </div>
</div>
<nav th:replace="~{fragmentos :: rodape}"></nav>

</body>
</html>